@import "../../global.css";
@import url('https://fonts.googleapis.com/css?family=Bungee+Shade');
@import url('https://fonts.googleapis.com/css?family=Racing+Sans+One');

.login {
    /* background-color: var(--primary-bg); */
    height: 100vh;
    background-image: url(../../images/Login_BG.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-replace;
}

.login-container{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}


.login-title {
    font-size: 2rem;
    color: var(--primary-text);
    /* margin-bottom: 20px; */
}

.login-author {
    text-align: center;
    font-size: 18px;
    color: rgb(201, 198, 198);
    /* margin-bottom: 40px; */
    font-family: 'Poppins', sans-serif;
    width: 50%;
    
}

.login-headline {
  margin: 0;
}

.login-projectName{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: rgb(227, 250, 114);
    font-size: 68px;
    font-weight: bold;
}

.login-highlight {
    color: var(--highlight-text);
}

.login-logo {
    height: 15vmin;
    margin-bottom: 30px;
    pointer-events: none;
    filter: drop-shadow(0 0 5px var(--secondary-text));
}

h2 {
    font-size: 68px;
    color: rgb(176, 211, 71);
    font-family: 'Racing Sans One', sans-serif;
    margin: 40px;
  }

.new-h2 {
  font-size: 60px;
  color: rgb(176, 211, 71);
  font-family: 'Racing Sans One', sans-serif;
}


h4 {
    font-size: 14px;
    color: grey;
  }


@keyframes login-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

.login-btn {
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 18px;
  height: 100%;
  padding: 5px;
  width: 100px; 
  text-decoration: underline;
}

.login-btn:hover {
  cursor: pointer;
  color: var(--button-bg);
  text-decoration: underline;
  padding: 5px;
}

@media screen and (max-width: 900px) {
  /* if the viewport is 900px or smaller */
  .login-headline{
    font-size: 50px;
  }

  .login-projectName{
    font-size: 60px;
  }

  .login-author{
    width: 75%;
    font-size: 16px;
  }
}