@import "../../global.css";

/* .profile-background{
    background-image: url("../../images/Profile_BG.png");
    background-size: 100%;
    background-position-x: center;
    background-repeat: no-replace;
    background-color:var(--BackgroundUncovered);


    position: absolute;
    height: 100%;
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.profile-background{
    background-image: url("../../images/Profile_BG.png");
    text-align: top;
    background-color: var(--primary-bg);
    height: 100vh;
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    background-size: cover;
    justify-content: top;
}

.profile{
    
    /* background-color: var(--BackgroundUncovered); */
    /* background-color: red; */
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.profile-account{
    font-size: 20px;
    height: 100%;
    width: 70%;
    text-align: left;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
    color: var(--MessageColorUncovered);
    align-items: left;
    justify-content: left;
}

a:link{
color: green;
background-color: transparent;
text-decoration: none;
}

a:visited{
    color: rgb(120, 221, 208);
    background-color: transparent;
    text-decoration: none;
    }

 a:hover{
    color: orange;
    background-color: transparent;
    text-decoration: none;
    }

 a:active{
        color: orange;
        background-color: transparent;
        text-decoration: none;
  }

  .profile-balance {
    font-size: 60px;
  }